
{% macro contact_list(title, links="", email="") %}
<div class="flex sm:flex-row flex-col py-4">
<!--  <div class="sm:basis-1/3 grow pb-4 sm:pb-0">-->
<!--    <div class="prose">-->
<!--      <h2 class="">{{ title }}</h2>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="sm:basis-2/3 grow">-->
<div></div>
  <div >
<!--    <h2 class="font-bold font-sans break-normal text-gray-900 text-2xl py-1">{{trans(key="Contact", lang=lang)}}</h2>-->
    <ul>
      {% if email -%}
      <li class="font-bold text-lg pb-4 text-blue-600 hover:text-blue-800 visited:text-purple-600 flex-row flex-nowrap flex">
      <i>{{ icons::factory(icon="mail",classes="inline h-6 w-6 flex-no-shrink") }}</i>
      <a href="mailto:{{ email }}"> {{ email }} </a></li>
      {% endif -%}
      {% for link in links -%}
      <li class="font-bold text-lg pb-4 text-blue-600 hover:text-blue-800 visited:text-purple-600">
        {% if link.icon -%}<i>{{ icons::factory(icon=link.icon,classes="inline h-6 w-6 flex-no-shrink") }}</i>{% endif -%}
        <a target="_blank" href = "{{link.link}}"> {{ link.name }} </a></li>
      {% endfor -%}
    </ul>
  </div>
</div>
{% endmacro %}