{% macro page_summary(page, show_wordcount=false, show_description=true) %}
{% if page.extra.type -%} {# is this publication? -#}
{{ publication::summary(page=page, show_urls=false, show_frame=false, show_description=show_description) }}
{% else -%}
{% if page.extra.external_link -%}
<a href="{{ page.extra.external_link | safe }}" target="_blank">
{% else -%}
<a>

{% endif -%}
<h2 class="text-xl font-bold">{{ page.name }}</h2>
<div class="flex justify-between">
  <span class="text-sm">{{ page.role }}</span>
  <span class="text-sm text-slate-400">{{ page.time }}</span>
</div>

  {% if show_description -%}
  {% if page.summary -%}
  <p class="pb-1"> {{ page.summary | markdown(inline=true) | safe }} </p>
  {% elif page.description %}
  <p class="pb-1"> {{ page.description | markdown(inline=true) | safe }} </p>
  {% endif -%}
  {% endif -%}
   <ul class="description">
    {% for detail in page.details -%}
      <li >
          {{detail}}
      </li>
    {% endfor %}
<!--    <li><a href="{{section.permalink | safe}}" class="text-blue-600 hover:text-blue-800">...</a></li>-->
  </ul>

</a>
{% endif -%}
</a>
{% endmacros %}