{% import 'macros/contact.html' as macros_contact -%}
{% import 'macros/blog.html' as macros_blog -%}
{% macro dot_lang() -%}
  {% if lang == config.default_language -%}{{ "" }}{% else -%}{{ "." ~ lang }}{% endif -%}
{% endmacro %}

{% macro toc() -%}
{% if page.toc and page.extra.toc -%}
<div class="bg-gray-50 px-4 pb-1">
<h2>{{trans(key="toc", lang=lang)}}</h2>
<ul>
  {% for h1 in page.toc -%}
      <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children -%}
              <ul>
                  {% for h2 in h1.children -%}
                      <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
                  {% endfor -%}
              </ul>
          {% endif -%}
      </li>
  {% endfor -%}
</ul>
</div>
{% endif -%}

{% endmacro %}



{% macro experience_from_config(section) -%}
  {% set dot_lang = macros::dot_lang() -%}
  <a name={{section.title}}></a>
  <div class="flex sm:flex-row flex-col py-4">
    <div class="sm:basis-1/3 grow pb-4 sm:pb-0">
      <div class="prose">
        <h2>{{section.title}}{% if lang == config.default_language -%}{{ " Experiences" }}{% else -%}{{ "经历" }}{% endif -%}</h2>
        {% if section.description -%}{{ section.description }}{% endif -%}
      </div>
    </div>
    <div class="sm:basis-2/3 grow">
      <ul>
        {% for item in section.extra.list | slice(end=10) -%}
          <li class="pb-3">
              {{experience::page_summary(page=item) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro publication_from_config(section) %}
    <a name={{section.title}}></a>
    <div class="flex sm:flex-row flex-col py-4">
      <div class="sm:basis-1/3 grow pb-4 sm:pb-0">
        <div class="prose">
          <h2>{{section.title}}</h2>
          {% if section.description -%}{{ section.description }}{% endif -%}
        </div>
      </div>
      <div class="sm:basis-2/3 grow">
        <ul>
          {% for page in section.extra.list | slice(end=10) -%}
            <li class="pb-3">
                {{publication::author_list(authors=page.authors)}}. {{page.year}}. <b>{{page.name}}</b>. In {{page.booktitle}}. [<a href={{page.url}} class="url">URL</a>]
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endmacro %}

{% macro patent_from_config(section) %}
<a name={{section.title}}></a>
<div class="flex sm:flex-row flex-col py-4">
          <div class="sm:basis-1/3 grow pb-4 sm:pb-0">
            <div class="prose">
              <h2>{{section.title}}</h2>
              {% if section.description -%}{{ section.description }}{% endif -%}
            </div>
          </div>
          <div class="sm:basis-2/3 grow">
            <ul>
              {% for page in section.extra.list | slice(end=10) -%}
                <li class="pb-3">
                  {{page.office}}{{page.number}}{{page.kind}}, {{publication::author_list(authors=page.authors)}}.
                  <b>{{page.name}}</b>. {{page.date}}. [<a href={{page.url}} class="url">URL</a>]
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
{% endmacro %}

{% macro award_from_config(section) %}
<a name={{section.title}}></a>
<div class="flex sm:flex-row flex-col py-4">
          <div class="sm:basis-1/3 grow pb-4 sm:pb-0">
            <div class="prose">
              <h2>{{section.title}}</h2>
              {% if section.description -%}{{ section.description }}{% endif -%}
            </div>
          </div>
          <div class="sm:basis-2/3 grow">
            <ul>
              {% for page in section.extra.list | slice(end=10) -%}
                <li class="pb-3">
                  <b>{{page.name}}</b>:
                    {% if page.top %} top {{page.top}}%. {% endif -%}
                    {% if page.date %} {{page.date}} {% endif -%}
                    {% if page.url %} [<a href={{page.url}} class="url">URL</a>] {% endif -%}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
{% endmacro %}

{% macro contact_from_config(section, config) -%}
  {% set email = "" -%}
  {% if config.extra.email -%}
    {% set email = config.extra.email -%}
  {% endif -%}

  {% set dot_lang = macros::dot_lang() -%}
  {% set contact = get_page(path="./contacts" ~dot_lang~ ".md", metadata_only=true) -%}

  {% set links = "" -%}
  {% if contact.extra.links -%}
    {% set links = contact.extra.links -%}
  {% endif -%}
  <a name={{contact.title}}></a>
  {{ macros_contact::contact_list(title=contact.title, links=links, email=email) }}

{% endmacro %}

<!--{% macro section_index_summary(section_path, show_wordcount=false, show_element=2, show_description=true) %}-->
<!--  {% set section = get_section(path=section_path) -%}-->
<!--  {% set title = section.extra.index_title | default(value=section.title) -%}-->
<!--  <div class="flex sm:flex-row flex-col py-4">-->
<!--    <div class="sm:basis-1/3 grow pb-4 sm:pb-0">-->
<!--      <div class="prose">-->
<!--        <h2>{{ title }}</h2>-->
<!--        {% if section.description -%}{{ section.description }}{% endif -%}-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="sm:basis-2/3 grow">-->
<!--      <ul>-->
<!--        {% for page in section.pages | slice(end=show_element) -%}-->
<!--          <li class="pb-3">-->
<!--              {{ blog::page_summary(page=page, show_wordcount=show_wordcount, show_description=show_description) }}-->
<!--          </li>-->
<!--        {% endfor %}-->
<!--        <li><a href="{{section.permalink | safe}}" class="text-blue-600 hover:text-blue-800">...</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--{% endmacro %}-->
