{% import 'macros/head.html' as macros_head -%}
{% import 'macros/nav.html' as macros_nav -%}
{% import 'macros/macros.html' as macros -%}
{% import 'macros/icons.html' as icons -%}
{% import 'macros/blog.html' as blog -%}
{% import 'macros/experience.html' as experience -%}
{% import 'macros/publication.html' as publication -%}

<!DOCTYPE html>
<html lang="{{ lang | default(value=config.default_language)}}">

<head>
  {% set favicon = resize_image(path=config.extra.favicon, format="png", width=32, height=32) %}
  <link rel="shortcut icon" href="{{ favicon.url }}" type="image/png">
  <link rel="icon" href="{{ favicon.url }}" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta charset="utf-8">

  <!-- Custom header for users, includes custom css or js here -->
  {% block user_head -%}
  {% endblock user_head -%}

  <title>{% if section -%}{{ section.title }} | {% endif %} {{ config.title }}</title>

  {% block head -%}
    {% block css -%}
      {{ macros_head::stylesheet() }}
    {% endblock css -%}

    {% block title -%}
      {% set section = load_data(path=current_path ~ "_index.md", metadata_only=true, required = false)  -%}
    {% endblock title -%}
  {% endblock head -%}
</head>

<body class="bg-white">
  <!-- Top nav bar -->
  {% block nav -%}
    {{ macros_nav::nav(website_title='Home') }}
  {% endblock nav -%}
  <!-- Container -->
  {% block content -%}
  {% endblock content -%}
  <!-- <div class="sticky bottom-0 px-3">
    <a href="#page-top">Back to top of page</a>
  </div> -->
  {% block footer -%}
  <footer class="bg-white">
    <div class="bg-white text-gray-400 container max-w-4xl mx-auto my-8 px-4">
    © Made with <a class="underline" target="_blank" href="https://github.com/adfaure/kodama-theme">Kodama</a> theme. Hosted on <a class="underline" target="_blank" href="https://www.netlify.com/">Netlify</a>. Last updated: 2024-03.
    </div>
  </footer>
  {% endblock footer -%}
</body>

</html>
