{% extends "base.html" %}

{% block content %}

{% block biography %}
<div class="">
  <div class="flex md:flex-row flex-wrap sm:flex-nowrap justify-center container mx-auto max-w-5xl py-10 px-3">
    <div class="basis-full sm:basis-2/5 ">
      <div class="container mx-auto">
        {% set image = resize_image(path=config.extra.avatar, format="webp", width=208, height=208) %}
        <img class="object-center w-52 h-52 rounded-full mx-auto" src="{{image.url}}" alt="Profile image"/>
        <h1 class="text-center font-bold break-normal text-gray-900 text-3xl py-1">{{ config.title }}</h1>
        {% if section.extra.title %}
        <h2 class="text-center font-bold break-normal text-gray-400 text-lg py-1">{{ section.extra.title | markdown(inline=true) | safe }}</h2>
        {% endif %}
        <div class="flex md:flex-row flex-wrap sm:flex-nowrap justify-center container mx-auto max-w-4xl sm:py-10 py-4">
<!--        <div><h2 class="font-bold font-sans break-normal text-gray-900 text-2xl py-1">{{trans(key="Contact", lang=lang)}}</h2></div>-->
        {{ macros::contact_from_config(section=section, config=config) }}
         </div>
<!--        <div class="flex flex-row flex-wrap container py-10 justify-center">-->
<!--          {% for icon in section.extra.avatar_icons %}-->
<!--            <div class="basis p-3 ">-->
<!--              <a href="{{icon.link}}" target="_blank"><i>{{ icons::factory(icon=icon.icon,classes="inline h-12 w-12 flex-no-shrink stroke-blue-600 hover:stroke-blue-800 visited:stroke-purple-600 fill-blue-600 visited:fill-purple-600 hover:fill-blue-800 ") }}</i></a>-->
<!--            </div>-->
<!--          {% endfor %}-->
<!--        </div>-->
      </div>
    </div>
    <div class="basis-full sm:basis-3/5">
      <h1 class="font-bold font-sans break-normal text-gray-900 text-3xl sm:text-5xl pb-4">{{trans(key="Biography", lang=lang)}}</h1>
      <article class="prose prose-indigo">
      {{ section.content | safe }}
      </article>
      <div class="flex md:flex-row flex-wrap sm:flex-nowrap justify-center container mx-auto max-w-4xl sm:py-10 py-4">
<!--        <div class="basis-full sm:basis-1/2 pb-4">-->
<!--          <h2 class="font-bold font-sans break-normal text-gray-900 text-2xl py-1">{{trans(key="Interests", lang=lang)}}</h2>-->
<!--          <ul class="list-disc pl-4">-->
<!--            {% for interest in section.extra.interests %}-->
<!--            <li class="py-1"> {{ interest }} </li>-->
<!--            {% endfor %}-->
<!--          </ul>-->
<!--        </div>-->
        <div class="basis-full sm:basis">
          <h2 class="font-bold font-sans break-normal text-gray-900 text-2xl py-1">{{trans(key="Education", lang=lang)}}</h2>
          <ul class="">
            {% for course in section.extra.education.courses %}
            <li class="py-1">
              <div class="flex flex-row flex-wrap">
                <div class="basis-full">
                <i>{{ icons::factory(icon="academic",classes="inline h-6 w-6 flex-no-shrink") }}</i> {{ course.institution }}
                </div>
                <div class="basis-full text-gray-400">
                  <i>{{ course.degree }} - {{ course.time }}</i>
                </div>
                <div class="basis-full text-gray-400">
                  <ul>
                    <li>GPA: {{ course.GPA }}</li>
                    {% if course.Option %}<li>{{trans(key="Option", lang=lang)}}: {{ course.Option }}</li>{% endif %}
                    {% if course.Minor %}<li>{{trans(key="Minor", lang=lang)}}: {{ course.Minor }}</li>{% endif %}
                    {% if course.Honors %}<li>{{trans(key="Honors", lang=lang)}}: {{ course.Honors | join(sep="; ") }}</li>{% endif %}
                  </ul>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endblock biography %}

<!--  {% block index_summaries -%}-->

<!--  {% set_global index = 0 -%}-->
<!--  {% for ssection in section.subsections -%}-->
<!--  {% set ssection_data = get_section(path=ssection, metadata_only=true) -%}-->
<!--  {% if ssection_data.extra.index_show -%}-->
<!--      <div class="{% if index % 2 != 0%} bg-white {% else %} bg-gray-50 {% endif %}">-->
<!--        <div class="container max-w-4xl mx-auto px-4 py-8">-->
<!--          {% set index_elements = ssection_data.extra.index_elements | default(value=2) -%}-->
<!--          {% set show_description = ssection_data.extra.description_in_index | default(value=true) -%}-->
<!--          {{ macros::section_index_summary(section_path=ssection, show_element=index_elements, show_description=show_description) }}-->
<!--        </div>-->
<!--      </div>-->
<!--    {% set_global index = index + 1 -%}-->
<!--    {% endif -%}-->
<!--  {% endfor -%}-->
<!--  {% endblock index_summaries -%}-->

  {% block index_work -%}
    {% set dot_lang = macros::dot_lang() -%}
    {% set section = get_page(path="./work"~dot_lang~".md", metadata_only=true) -%}

    <div class="{% if index % 2 != 0%} bg-white {% else %} bg-gray-50 {% endif %}">
      <div class="container max-w-4xl mx-auto px-4">
      {{ macros::experience_from_config(section=section) }}
      </div>
    </div>
  {% endblock index_work -%}

  {% block index_research -%}
    {% set dot_lang = macros::dot_lang() -%}
    {% set section = get_page(path="./research"~dot_lang~".md", metadata_only=true) -%}

    <div class="{% if index % 2 != 0%} bg-white {% else %} bg-gray-50 {% endif %}">
      <div class="container max-w-4xl mx-auto px-4">
      {{ macros::experience_from_config(section=section) }}
      </div>
    </div>
  {% endblock index_research -%}

  {% block index_project -%}
    {% set dot_lang = macros::dot_lang() -%}
    {% set section = get_page(path="./project"~dot_lang~".md", metadata_only=true) -%}

    <div class="{% if index % 2 != 0%} bg-white {% else %} bg-gray-50 {% endif %}">
      <div class="container max-w-4xl mx-auto px-4">
      {{ macros::experience_from_config(section=section) }}
      </div>
    </div>

  {% endblock index_project -%}

   {% block index_publication -%}
    {% set dot_lang = macros::dot_lang() -%}
    {% set section = get_page(path="./publication"~dot_lang~".md", metadata_only=true) -%}
    <div class="{% if index % 2 != 0%} bg-white {% else %} bg-gray-50 {% endif %}">
      <div class="container max-w-4xl mx-auto px-4">

        {{ macros::publication_from_config(section=section) }}
      </div>
    </div>
  {% endblock index_publication -%}

  {% block index_patent -%}
  {% set dot_lang = macros::dot_lang() -%}
  {% set section = get_page(path="./patent"~dot_lang~".md", metadata_only=true) -%}
  <div class="{% if index % 2 != 0%} bg-white {% else %} bg-gray-50 {% endif %}">
    <div class="container max-w-4xl mx-auto px-4">
        {{ macros::patent_from_config(section=section) }}
    </div>
  </div>

  {% endblock index_patent -%}

  {% block index_award -%}
  {% set dot_lang = macros::dot_lang() -%}
  {% set section = get_page(path="./award"~dot_lang~".md", metadata_only=true) -%}
  <div class="{% if index % 2 != 0%} bg-white {% else %} bg-gray-50 {% endif %}">
    <div class="container max-w-4xl mx-auto px-4">
        {{ macros::award_from_config(section=section) }}
    </div>
  </div>

  {% endblock index_award -%}

  {% block index_contact -%}
<!--    {% if lang == config.default_language -%}-->
<!--      {% set contact_data = config.extra.menu_items -%}-->
<!--    {% else -%}-->
<!--      {% set contact_data = config.extra[lang].menu_items -%}-->
<!--    {% endif -%}-->

<!--    {% if config.extra.contact_in_index == true -%}-->
<!--    <div class="{% if index % 2 != 0%} bg-white {% else %} bg-gray-50 {% endif %}">-->
<!--      <div class="container max-w-4xl mx-auto px-4">-->

<!--      </div>-->
<!--    </div>-->
<!--    {% endif -%}-->
  {% endblock index_contact -%}

{% endblock content-%}
